<h3>{{leyenda}} - {{progreso}}</h3>

<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
      <i class="mdi mdi-minus"></i>
    </button>
  </span>
  <!--ngModelChanges -- Verifica los cambios que se dan en el campo y llama a la funcion asociada-->

  <input #txtProgress type="number" class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" min="1" max="100">
  
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
      <i class="mdi mdi-plus"></i>
    </button>
  </span>
</div>
